.menu-inicial-btn{
  width: 80%;
  max-width: 350px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid black;
  text-align: center;
  font-size: 40px;
  color: black;
}
.menu-inicial{
  padding-top: 50px;
  margin-bottom: 100px;

}
.menu-inicial > a:hover{
  text-decoration: none;
  color: lightslategrey;
}
